body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

#countdown {
    font-size: 24px;
    margin-top: 20px;
}

/* Mendable Search Widget Styles */
#mendable-component {
    max-width: 100%; /* Ensure the widget doesn't exceed the screen width */
}

/* Media query for smaller screens (adjust the breakpoint as needed) */
@media (max-width: 768px) {
    #mendable-component {
        max-width: 80%; /* Adjust the width for smaller screens */
        margin: 0 auto; /* Center the widget on smaller screens */
    }
}