body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: #e8e8e6;
}

header {
    background-color: #1d1d1d;
    color: #e8e8e6;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #1d1d1d;
    border-radius: 8px;
    text-align: center;
}

#mendable-component {
    margin-top: 20px;
    padding: 0;
    border: none;
    background-color: #1d1d1d;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}
